li:hover {
    cursor: pointer;
}

.valueInput{
    margin: 5px !important;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #999;
    text-align: center; 
}

.outputMatriz{
    font-size: 1.5rem;
}

#operationOutput{
    margin-top: 5%;
}

